name: dartotsu
description: "An Anilist client"

publish_to: 'none'

# Application version and build number
version: 0.0.4+1

# Dart SDK constraints
environment:
  sdk: '>=3.4.3 <4.0.0'

# Main dependencies
dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  async: ^2.13.0
  firebase_core: ^4.4.0
  firebase_crashlytics: ^5.0.7
  # State Management
  get: ^4.7.3

  # Networking
  rhttp: ^0.15.0

  # JSON Serialization
  json_annotation: ^4.9.0

  # Local Storage
  isar_community: ^3.3.0-dev.2
  isar_community_flutter_libs: ^3.3.0-dev.2
  path_provider: ^2.1.5
  path: ^1.9.1
  cryptography: ^2.9.0
  # UI Components
  introduction_screen: ^4.0.0
  flutter_animate: ^4.5.2
  expandable_widgets: ^1.0.3+1
  expandable_text: 2.3.0
  cached_network_image: ^3.4.1
  precached_network_image: ^1.4.1
  flutter_svg: ^2.2.3
  flex_color_picker: ^3.8.0
  icons_plus: ^5.0.0
  skeletonizer: ^2.1.2
  blurbox: ^0.0.6
  markdown_widget: ^2.3.2+8
  super_sliver_list: ^0.4.1
  dpad: ^2.0.2
  dynamic_color: ^1.8.1

  # UI Enhancements
  blur: ^4.0.2
  expandable_page_view: ^1.2.1
  carousel_slider: ^5.1.1
  flutter_staggered_grid_view: ^0.7.0
  scrollable_positioned_list: ^0.3.8
  html: ^0.15.6
  intl: ^0.20.2

  # Platform Specific
  media_kit:
    git:
      url: https://github.com/kodjodevf/media-kit.git
      path: media_kit
  media_kit_video:
    git:
      url: https://github.com/kodjodevf/media-kit.git
      path: media_kit_video
  media_kit_libs_video:
    git:
      url: https://github.com/kodjodevf/media-kit.git
      path: libs/universal/media_kit_libs_video
  window_manager: ^0.5.1
  permission_handler: ^12.0.1
  flutter_inappwebview: ^6.2.0-beta.2
  desktop_webview_window:
    git:
      url: https://github.com/kodjodevf/desktop_webview_window.git
      path: packages/desktop_webview_window
      ref: main
  wakelock_plus: ^1.4.0
  volume_controller: ^3.4.1
  screen_brightness: ^2.1.7
  app_links: ^7.0.0
  win32: ^5.15.0
  ffi: ^2.1.5
  install_plugin: ^2.1.0
  flutter_discord_rpc_fork:
    git:
      url: https://github.com/Schnitzel5/flutter-discord-rpc.git
      ref: main

  # Miscellaneous
  receive_sharing_intent: ^1.8.1
  device_info_plus: ^12.3.0
  package_info_plus: ^9.0.0
  file_picker: ^10.3.10
  share_plus: ^12.0.1
  url_launcher: ^6.3.2
  json_path: ^0.9.0
  grouped_list: ^6.0.0
  fuzzywuzzy: ^1.2.0
  string_similarity: ^2.1.1
  collection: ^1.19.1
  flutter_web_auth_2: ^5.0.1
  dartotsu_extension_bridge:
    #path: ../DartotsuExtensionBridge
    git:
      url: https://github.com/aayush2622/DartotsuExtensionBridge.git
      ref: master


# Development dependencies
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0

  # Code Generation flutter pub run build_runner build
  isar_community_generator: ^3.3.0-dev.2
  json_serializable: ^6.11.2
  build_runner: ^2.7.1
  inno_bundle: ^0.11.2

dependency_overrides:
  collection: ^1.19.1
  desktop_webview_window: ^0.2.3
  

flutter:
  uses-material-design: true
  generate: true
  # Fonts
  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/poppins.ttf
        - asset: assets/fonts/poppins_bold.ttf
          weight: 700
        - asset: assets/fonts/poppins_semi_bold.ttf
          weight: 600
        - asset: assets/fonts/poppins_thin.ttf
          weight: 100
    - family: Poppins-SemiBold
      fonts:
        - asset: assets/fonts/poppins_semi_bold.ttf

  # Assets
  assets:
    - .env
    - assets/images/logo.png
    - assets/svg/
# Flutter Launcher Icons Configuration
# dart run flutter_launcher_icons
flutter_icons:
  ios: true
  image_path: "assets/images/logo.png"
  windows:
    generate: true
    image_path: "assets/images/logo.png"
  web:
    generate: true
    image_path: "assets/images/logo.png"
  macos:
    generate: true
    image_path: "assets/images/logo.png"

inno_bundle:
  sign_tool:
    command: $p
  id: 609d9fb9-ac99-533b-a5b5-f277afa99b68
  publisher: Ankit Grai
  name: Dartotsu
  version: 0.0.4
  admin: auto
  installer_icon: assets/images/lol.ico
  languages:
    - english
